<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EachFloorRunningTime" value="5000"/>
    <add key="DoorStatusChangeTime" value="3000"/>
  </appSettings>
</configuration>